@use '@angular/material' as mat;

@include mat.core();
@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}
.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}
